<div id="{{test}}">
    <form method="post" action="/login">
        <label>Login:</label>
        <input type="text" name="username" value="" />
        <label>Senha:</label>
        <input type="password" name="password" />
        <button type="submit">Enviar</button>
    </form>
</div>